# Data Orgainization

## Imports

In [1]:
import pandas as pd
import numpy as np

## Load Data

In [2]:
df_2021 = pd.read_csv('../data/epa_data/EJSCREEN/2021/EJSCREEN_2021_StatePctile.csv', na_values = 'None')
df_2020 = pd.read_csv('../data/epa_data/EJSCREEN/2020/EJSCREEN_2020_StatePctile.csv', na_values = 'None')
df_2019 = pd.read_csv('../data/epa_data/EJSCREEN/2019/EJSCREEN_2019_StatePctiles.csv', na_values = 'None')
df_2018 = pd.read_csv('../data/epa_data/EJSCREEN/2018/EJSCREEN_StatePctile_2018.csv', na_values = 'None')
df_2017 = pd.read_csv('../data/epa_data/EJSCREEN/2017/EJSCREEN_2017_USPR_Public.csv', na_values = 'None')
df_2016 = pd.read_csv('../data/epa_data/EJSCREEN/2016/EJSCREEN_Full_V3_USPR_TSDFupdate.csv', na_values = 'None')

In [3]:
#In order to reduce the size of the files for upload I overwrote them. Before there was data on every state. Now there is only data for CA.
df_2021 = df_2021[df_2021['ST_ABBREV'] == 'CA']
df_2021.to_csv('../data/epa_data/EJSCREEN/2021/EJSCREEN_2021_StatePctile.csv', index = False)
df_2020 = df_2020[df_2020['ST_ABBREV'] == 'CA']
df_2020.to_csv('../data/epa_data/EJSCREEN/2020/EJSCREEN_2020_StatePctile.csv', index = False)
df_2019 = df_2019[df_2019['ST_ABBREV'] == 'CA']
df_2019.to_csv('../data/epa_data/EJSCREEN/2019/EJSCREEN_2019_StatePctiles.csv', index = False)
df_2018 = df_2018[df_2018['ST_ABBREV'] == 'CA']
df_2018.to_csv('../data/epa_data/EJSCREEN/2018/EJSCREEN_StatePctile_2018.csv', index = False)
df_2017 = df_2017[df_2017['ST_ABBREV'] == 'CA']
df_2017.to_csv('../data/epa_data/EJSCREEN/2017/EJSCREEN_2017_USPR_Public.csv', index = False)
df_2016 = df_2016[df_2016['ST_ABBREV'] == 'CA']
df_2016.to_csv('../data/epa_data/EJSCREEN/2016/EJSCREEN_Full_V3_USPR_TSDFupdate.csv', index = False)

I only need the data for the state of California.

## Choose Columns

Each year had large difference in the number of columns. I choose to only keep those that appear accross all six years.
Although this meant many columns have been discarded it is worth knowing that many of them where for a map functionality the EPA provides that was not relevent for this project. This include data for the color an item on a map should bear or the text it should display. These were demarcated by a `B` or `T` in the column name.

In [4]:
df_2021.shape,\
df_2020.shape,\
df_2019.shape,\
df_2018.shape,\
df_2017.shape,\
df_2016.shape

((23212, 136),
 (23212, 124),
 (23212, 128),
 (23212, 128),
 (23212, 147),
 (23212, 368))

In [5]:
all_cols_2021 = set([col for col in df_2021.columns])
all_cols_2020 = set([col for col in df_2020.columns])
all_cols_2019 = set([col for col in df_2019.columns])
all_cols_2018 = set([col for col in df_2018.columns])
all_cols_2017 = set([col for col in df_2017.columns])
all_cols_2016 = set([col for col in df_2016.columns])


intersect = all_cols_2021.\
intersection(all_cols_2020).\
intersection(all_cols_2019).\
intersection(all_cols_2018).\
intersection(all_cols_2017).\
intersection(all_cols_2016)

In [6]:
kept_cols = [col for col in intersect if (col[0] != 'B' and col[0] != 'T')]
kept_cols.sort(key = lambda x: x[2:] if '_' in x else x)
first_cols = ['ID', 'STATE_NAME', 'ST_ABBREV', 'REGION']
kept_cols = first_cols + [col for col in kept_cols if col not in first_cols]

Before applying the change I shall determine what columns are being lost for each year that are not related to the EPA map functionality according to the `B` or `T` tags.

In [7]:
[col for col in df_2021.columns if (col[0] != 'B' and col[0] != 'T') and (col not in intersect)]

['UNEMPPCT', 'UST', 'D_UST_2', 'P_UNEMPPCT', 'P_UST', 'P_UST_D2']

In [8]:
[col for col in df_2020.columns if (col[0] != 'B' and col[0] != 'T') and (col not in intersect)]

[]

In [9]:
[col for col in df_2019.columns if (col[0] != 'B' and col[0] != 'T') and (col not in intersect)]

['VULSVI6PCT', 'P_VSVI6PCT']

In [10]:
[col for col in df_2018.columns if (col[0] != 'B' and col[0] != 'T') and (col not in intersect)]

['VULSVI6PCT', 'P_VSVI6PCT']

In [11]:
[col for col in df_2017.columns if (col[0] != 'B' and col[0] != 'T') and (col not in intersect)]

['ACSIPOVBAS',
 'ACSEDUCBAS',
 'ACSTOTHH',
 'ACSTOTHU',
 'MINORPOP',
 'LOWINCOME',
 'LESSHS',
 'LINGISO',
 'UNDER5',
 'OVER64',
 'PRE1960',
 'VULSVI6PCT',
 'VULEO',
 'VULSVI6',
 'DISPEO',
 'DISPSVI6',
 'P_VSVI6PCT',
 'AREALAND',
 'AREAWATER',
 'NPL_CNT']

In [12]:
np.array([col for col in df_2016.columns if (col[0] != 'B' and col[0] != 'T') and (col not in intersect)])

array(['ACSIPOVBAS', 'ACSEDUCBAS', 'ACSTOTHH', 'ACSTOTHU', 'MINORPOP',
       'LOWINCOME', 'LESSHS', 'LINGISO', 'UNDER5', 'OVER64', 'PRE1960',
       'VULSVI6PCT', 'VULEO', 'VULSVI6', 'DISPEO', 'DISPSVI6', 'LDPNT_D6',
       'LDPNT_B2', 'LDPNT_B6', 'LDPNT_P2', 'LDPNT_P6', 'DSLPM_D6',
       'DSLPM_B2', 'DSLPM_B6', 'DSLPM_P2', 'DSLPM_P6', 'CANCR_D6',
       'CANCR_B2', 'CANCR_B6', 'CANCR_P2', 'CANCR_P6', 'RESP_D6',
       'RESP_B2', 'RESP_B6', 'RESP_P2', 'RESP_P6', 'PTRAF_D6', 'PTRAF_B2',
       'PTRAF_B6', 'PTRAF_P2', 'PTRAF_P6', 'PWDIS_D6', 'PWDIS_B2',
       'PWDIS_B6', 'PWDIS_P2', 'PWDIS_P6', 'PNPL_D6', 'PNPL_B2',
       'PNPL_B6', 'PNPL_P2', 'PNPL_P6', 'PRMP_D6', 'PRMP_B2', 'PRMP_B6',
       'PRMP_P2', 'PRMP_P6', 'PTSDF_D6', 'PTSDF_B2', 'PTSDF_B6',
       'PTSDF_P2', 'PTSDF_P6', 'OZONE_D6', 'OZONE_B2', 'OZONE_B6',
       'OZONE_P2', 'OZONE_P6', 'PM25_D6', 'PM25_B2', 'PM25_B6', 'PM25_P2',
       'PM25_P6', 'P_VSVI6PCT', 'P_LDPNT_D6', 'P_LDPNT_B2', 'P_LDPNT_B6',
       'P_LDPNT_P2', 'P_LDPNT_P6', 'P_DSLPM_D6', 'P_DSLPM_B2',
       'P_DSLPM_B6', 'P_DSLPM_P2', 'P_DSLPM_P6', 'P_CANCR_D6',
       'P_CANCR_B2', 'P_CANCR_B6', 'P_CANCR_P2', 'P_CANCR_P6',
       'P_RESP_D6', 'P_RESP_B2', 'P_RESP_B6', 'P_RESP_P2', 'P_RESP_P6',
       'P_PTRAF_D6', 'P_PTRAF_B2', 'P_PTRAF_B6', 'P_PTRAF_P2',
       'P_PTRAF_P6', 'P_PWDIS_D6', 'P_PWDIS_B2', 'P_PWDIS_B6',
       'P_PWDIS_P2', 'P_PWDIS_P6', 'P_PNPL_D6', 'P_PNPL_B2', 'P_PNPL_B6',
       'P_PNPL_P2', 'P_PNPL_P6', 'P_PRMP_D6', 'P_PRMP_B2', 'P_PRMP_B6',
       'P_PRMP_P2', 'P_PRMP_P6', 'P_PTSDF_D6', 'P_PTSDF_B2', 'P_PTSDF_B6',
       'P_PTSDF_P2', 'P_PTSDF_P6', 'P_OZONE_D6', 'P_OZONE_B2',
       'P_OZONE_B6', 'P_OZONE_P2', 'P_OZONE_P6', 'P_PM25_D6', 'P_PM25_B2',
       'P_PM25_B6', 'P_PM25_P2', 'P_PM25_P6', 'AREALAND', 'AREAWATER',
       'NPDES_CNT', 'NPL_CNT'], dtype='<U10')

Given that the year 2016 is an outlier in terms of data loss and that it represents the oldest data this data will be left out. Even still there are sixty six columns that are represented in this year, so there is plently of still relevent data.

In [13]:
df_2021 = df_2021[kept_cols]
df_2020 = df_2020[kept_cols]
df_2019 = df_2019[kept_cols]
df_2018 = df_2018[kept_cols]
df_2017 = df_2017[kept_cols]
df_2016 = df_2016[kept_cols]

In [14]:
df_2021.shape,\
df_2020.shape,\
df_2019.shape,\
df_2018.shape,\
df_2017.shape,\
df_2016.shape

((23212, 66), (23212, 66), (23212, 66), (23212, 66), (23212, 66), (23212, 66))

## Processing to confirm appropriate numeric type

In [15]:
def find_sentinals(data):
    sentinals = set()
    for u in data:
        try:
            float(u)
        except (ValueError):
            sentinals.add(u)
    if len(sentinals) == 0:
        return None
    else:
        return sentinals

def find_sentinals_in_dataframe(dataframe):
    columns = [col for col in dataframe.columns if dataframe[col].dtype == 'O']
    df_sentinals = set()
    columns_that_can_be_cast_to_float = []
    for i in columns:
        s = find_sentinals(dataframe[i])
        if s == None:
            columns_that_can_be_cast_to_float.append(i)
        else:
            df_sentinals.update(s)
    return df_sentinals, columns_that_can_be_cast_to_float

In [16]:
find_sentinals_in_dataframe(df_2021.drop(columns = ['STATE_NAME', 'ST_ABBREV']))

(set(), [])

In [17]:
df_2021.dtypes.value_counts()

float64    60
int64       4
object      2
dtype: int64

In [18]:
find_sentinals_in_dataframe(df_2020.drop(columns = ['STATE_NAME', 'ST_ABBREV']))

(set(), [])

In [19]:
df_2020.dtypes.value_counts()

float64    60
int64       4
object      2
dtype: int64

In [20]:
find_sentinals_in_dataframe(df_2019.drop(columns = ['STATE_NAME', 'ST_ABBREV']))

(set(), [])

In [21]:
df_2019.dtypes.value_counts()

float64    60
int64       4
object      2
dtype: int64

In [22]:
find_sentinals_in_dataframe(df_2018.drop(columns = ['STATE_NAME', 'ST_ABBREV']))

(set(), [])

In [23]:
df_2018.dtypes.value_counts()

float64    60
int64       4
object      2
dtype: int64

In [24]:
find_sentinals_in_dataframe(df_2017.drop(columns = ['STATE_NAME', 'ST_ABBREV']))

(set(), [])

In [25]:
df_2017.dtypes.value_counts()

float64    60
int64       4
object      2
dtype: int64

In [26]:
find_sentinals_in_dataframe(df_2016.drop(columns = ['STATE_NAME', 'ST_ABBREV']))

(set(), [])

In [27]:
df_2016.dtypes.value_counts()

float64    60
int64       4
object      2
dtype: int64

In each of the years there appear to be no sentinal values and the data types seem reasonable.

## Merge Data

In [28]:
df = df_2021.merge(df_2020.drop(columns = ['STATE_NAME', 'ST_ABBREV', 'REGION']), on = 'ID',
          suffixes=('_2021', '_2020'))
df = df.merge(df_2019.drop(columns = ['STATE_NAME', 'ST_ABBREV', 'REGION']), on = 'ID',
          suffixes=(None, '_2019'))
df = df.merge(df_2018.drop(columns = ['STATE_NAME', 'ST_ABBREV', 'REGION']), on = 'ID',
          suffixes=(None, '_2018'))
df = df.merge(df_2017.drop(columns = ['STATE_NAME', 'ST_ABBREV', 'REGION']), on = 'ID',
          suffixes=(None, '_2017'))
df = df.merge(df_2016.drop(columns = ['STATE_NAME', 'ST_ABBREV', 'REGION']), on = 'ID',
          suffixes=(None, '_2016'))

In [29]:
df.columns = [col if (col[-4:-2] == '20') or col in ['ID', 'STATE_NAME', 'ST_ABBREV', 'REGION'] else col + '_2019' for col in df.columns]

In [30]:
df[['ACSTOTPOP_2021', 'ACSTOTPOP_2020', 'ACSTOTPOP_2019', 'ACSTOTPOP_2018', 'ACSTOTPOP_2017', 'ACSTOTPOP_2016']].sum()

ACSTOTPOP_2021    39283497
ACSTOTPOP_2020    39148760
ACSTOTPOP_2019    38982847
ACSTOTPOP_2018    38654206
ACSTOTPOP_2017    38421464
ACSTOTPOP_2016    38066920
dtype: int64

The population of California is about forty million, so these values appear reasonable.

## Examining null values

In [31]:
sum(df.isnull().sum().values != 0), df.isnull().sum().unique()

(140,
 array([    0,    35,    17,   364, 12516,    36,   434, 12172,    34,
         2709], dtype=int64))

In [32]:
cols_with_nans = pd.DataFrame({'Columns': df.isnull().sum().index, 'Missing Values': df.isnull().sum().values})[df.isnull().sum().values != 0].reset_index(drop = True)

In [33]:
cols_with_nans['Missing Values'].describe()

count      140.000000
mean       829.314286
std       2880.952178
min         17.000000
25%         17.000000
50%         34.000000
75%         36.000000
max      12516.000000
Name: Missing Values, dtype: float64

In [34]:
cols_with_nans[cols_with_nans['Missing Values'] > 36]['Missing Values'].describe()

count       20.000000
mean      5639.000000
std       5684.249115
min        364.000000
25%        434.000000
50%       2709.000000
75%      12172.000000
max      12516.000000
Name: Missing Values, dtype: float64

In [35]:
cols_with_nans[cols_with_nans['Missing Values'] > 36]

             Columns  Missing Values
16        PTRAF_2021             364
17      P_PTRAF_2021             364
18    D_PTRAF_2_2021             364
19   P_PTRAF_D2_2021             364
20        PWDIS_2021           12516
21      P_PWDIS_2021           12516
22    D_PWDIS_2_2021           12516
23   P_PWDIS_D2_2021           12516
44        PTRAF_2020             434
45      P_PTRAF_2020             434
46    D_PTRAF_2_2020             434
47   P_PTRAF_D2_2020             434
48        PWDIS_2020           12172
49      P_PWDIS_2020           12172
50    D_PWDIS_2_2020           12172
51   P_PWDIS_D2_2020           12172
132     P_PTSDF_2016            2709
133       PTSDF_2016            2709
134   D_PTSDF_2_2016            2709
135  P_PTSDF_D2_2016            2709

Data related to hazardous waste (denoted by PWDIS) is likely unreliable given the large proportion of missing values.

## Save DataFrame

In [37]:
# df.to_csv('./data/EJSCREEN_data_all_years.csv', index = False) I don't want to accidentlly save over this file.
df.to_csv('../data/epa_data/EJSCREEN_data_all_years_2.csv', index = False)

In [38]:
df.shape

(23212, 376)